body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(https://c.ndtvimg.com/kut3blc8_kerala-flood-afp-august-2018-650_625x300_18_August_18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  background: transparent;
  color: #ffffff;

  text-align: center;
  display: flex;
  flex-direction: column;

}


header h2 {
  font-size: 70px;
  font-weight: 700;
  padding-top: 6px;
  font-family: sans-serif;
}

section {
  min-height: 100vh;
  margin-top: 30px;
}

section p {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}

.donate p {
  margin-top: 100px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;

}